<o-form-layout-manager attr="SystemLog" mode="dialog" title="SYSTEMLOG">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SystemLogTable" 
            service="SystemLog" 
            entity="SystemLog" 
            title="SYSTEMLOG"
            keys="id"
            columns="id;event;event_date;created_by;user_id" 
            header-actions="R;D"
            visible-columns="id;event;event_date;created_by;user_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #event attr="event" title="event" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #event_date attr="event_date" type="timestamp" label="event_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #created_by attr="created_by" title="created_by" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #user_id attr="user_id" title="user_id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>